<div class="container-fluid">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Tip Calculator</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li id="indexNavbarSection">{{#link-to 'index'}}Home{{/link-to}}</li>
          <li id="aboutNavbarSection">{{#link-to 'about'}}About{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </nav>

  {{outlet}}
</div>
